// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$ft-green: #A1CD9A;
$ft-dark-green: #6C8E67;
$ft-pink: #FA9184;
$ft-purple: #9E9BC8;
