// Specific CSS for your home-page
body {
  background-color: $white;
}

// Make sure the navbar doesn't cover any content
.yield-content {
  padding-bottom: 70px;
}

.container {
  background-color: $ft-green;
}

.homepage {
  --bs-gutter-x: 0 !important;
  --bs-gutter-y: 0 !important;
  background-color: $ft-green;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;

  .logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh 0;
    padding: 0 5%;

    img {
      max-width: 100%;
    }
  }

  #carouselExampleInterval {
    height: 70%;
    position: relative; // For absolute positioning of buttons
  }

  .carousel-inner {
    height: 100%;
    width: 100%;
  }

  .carousel-inner img {
    object-fit: cover;
  }

  .carousel-buttons {
    position: absolute; // Overlay on carousel
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // Adjusts for centering
    z-index: 10; // Ensures buttons are on top
  }

  .btn {
    margin: 10px;
    width: 100%;
    flex-direction: column;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .homepage {
    .logo-container {
      margin: 1vh 0;

      img {
        max-height: 15vh;
      }
    }
  }
}
