h1 {
  font-size: 26px;
  text-align: center;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

button {
  background-color: transparent;
  text-decoration: none;
  color: $ft-black;
}

a {
  color: gray;
  text-decoration: none;
}
