<% recipe = local_assigns[:recipe] || @recipe %>
<%# recipe_ingredients = local_assigns[:recipe_ingredients] || @recipe_ingredients %>


<div class="styled-form">
  <%= simple_form_for recipe, url: recipe_path(params[:id]) do |f| %>
    <div class="form-row">
      <%= f.input :title, label: "Title", wrapper_html: { class: "form-group" } %>
    </div>
    <div class="form-row">
      <%= f.input :description, label: "Description", wrapper_html: { class: "form-group" } %>
    </div>
    <%= f.submit "Save", class: "form-button" %>
  <% end %>
</div>

<%# recipe_ingredients.each do |recipe_ingredient| %>
  <%#= render partial: "recipe_ingredients/edit", locals: { recipe_ingredient: recipe_ingredient } %>
<%# end %>
