<div class="navigation">
    <%= link_to "#", class: "nav-icon" do %>
      <span class="material-icons nav-font">kitchen</span>
    <% end %>
    <%= link_to "#", class: "nav-icon" do %>
      <span class="material-icons nav-font">shopping_cart</span>
    <% end %>
    <button class="nav-icon-add">
      <span class="material-icons nav-font-add">add</span>
    </button>
    <%= link_to "#", class: "nav-icon" do %>
      <span class="material-icons nav-font">restaurant_menu</span>
    <% end %>
    <%= link_to "#", class: "nav-icon" do %>
      <span class="material-icons nav-font">list</span>
    <% end %>
</div>
