<div id="expiring">
    <%# Conditional Guard -- Hides expiring section if expiring array is empty %>
    <% if @expiring.any? %>
      <div class="expiring-section">
        <div class="category-title expiring-title">
          <div class="recycle-container">
            <div class="pie-chart"></div>
            <div class="recycle-overlay"><i class="fa-solid fa-recycle"></i></div>
          </div>
          <h3> Expiring soon! </h3>
        <%# Rotating recycle icon %>
          <div class="recycle-container">
            <div class="pie-chart"></div>
            <div class="recycle-overlay"><i class="fa-solid fa-recycle"></i></div>
          </div>
        </div>
          <% @expiring.each do |ingredient| %>
            <%= render partial: "ingredients_card", locals: { ingredient: ingredient } %>
          <% end %>
      </div>
    <% else %>
      <h3> No ingredients are expiring soon! </h3>
    <% end %>
  </div>
