<h1>Ingredients#new</h1>

<h2>Would you like to Read a Receipt?</h2>

<% image = RTesseract.new("my_image.jpg") %>
<% image.to_s %>
<% console.log(image) %>

<h2>Scan a barcode?</h2>
Coming Soon!

<h2>Manually Enter your Groceries?</h2>
Jon's got you covered!
