
code snippets here



# <%# <% image = 'app/assets/images/test.png' %> %>

# <%# <% ZBar::Image.initialize%> %>
<div data-controller="barcode"><button class="btn btn-primary" id=barcode value="submit">
<% puts "hello" %>
</button>
</div>
