<div class="p-5">

  code snippets here

  <div data-controller="barcode">
    <input type="file" accept="image/*" capture="camera" data-action="change->barcode#onUpload" class="">

      <div>hello</div>
  </div>

</div>
