<div class="p-5">

  code snippets here

  <div data-controller="barcode">
    <input type="file" accept="image/*" capture="camera" id="cats" class="">
    <button>
      submit
    </button>
      <div>hello</div>
  </div>

</div>
