.buttons-filter{
  overflow-x: scroll;
  display: flex;
  margin: 8px;
}

.btn-filter {
  background-color: $ft-green;
  font-size: 20px;
  border-style: none;
  border-radius: 20px;
  padding: 0px 8px;
  // min-width: 50px;
  text-align: center;
  width: max-content;
  max-width: 90%;
  margin-inline: auto;
  margin-right: 8px;
}

.btn-filter-selected {
  background-color: $ft-dark-green;
  color: $light-gray;
  font-size: 24px;
  border-style: none;
  border-radius: 20px;
  padding: 0px 8px;
  min-width: 50px;
  text-align: center;
  width: max-content;
  max-width: 90%;
  margin-inline: auto;
}

.login-btns {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.btn-homepage {
  background-color: #FF6F61;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 32px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
  position: relative;
  z-index: 10;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.btn-homepage:hover {
  background-color: #FF8A80;
}
