.confirmation-window {
  border: 1px;
  border-radius: 16px;
  background-color: $ft-gray;
  box-shadow: 6px 1px 12px 2px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.confirmation-message {
  font-weight: bold;
  color: white;
}

.confirmation-buttons-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}
