.expiring-section {
  padding: 4px;
  border-radius: 16px;
  background-color: $ft-pink;
}

.expiring-alert {
  display: flex;
  align-items: center;
  margin-left: 8px;
  border-radius: 16px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  background-color: $ft-pink;
  height: 32px;
}

.expiring-message {
  padding: 4px;
  font-size: 16px;
  margin-left: -22px;
  font-weight: bold;
  color: white;
  z-index: 2;
}

@keyframes pulseRotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
