

.card{
  padding:5px 12px;
  background-color: white;
  border: none;
  margin: 8px;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}

.card-title{
  margin:0px;
  font-size: 24px;
}

.card-content{
  margin:0px;
  display:flex;
  font-size: 20px;
}
.card-detail{
  margin-right: 20px;
}

.edit-icon{
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.card-date{
  position: absolute;
  right: 56px;
  top: 50%;
  transform: translateY(-50%);
}

.expiring-notice{
  background: gray;
  border-radius: 8px;
  padding: 4px;
  color: white;
}

.expired-notice{
  background: $ft-pink;
  border-radius: 8px;
  padding: 4px;
  color: white;
}
