.card {
  padding: 5px 12px;
  background-color: white;
  border: none;
  margin: 8px;
  border-radius: 16px;
  position: relative;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
//   // flex-direction: row;
}

.card-title {
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
  overflow: visible;
  white-space: normal;
  // max-width: calc(100% - 150px);
}

.card-content {
  // margin: 0px;
//   display: flex;
  font-size: 20px;
//   // flex-direction: column;
text-align: center;
align-items: center;
}

.card-detail {
//   margin-right: 20px;
display: flex;
// text-align: center;
align-items: center;
justify-content: center;
}

#amount {
  margin-right: 5px;
}

// .edit-icon {
//   position: absolute;
//   right: 45px;
//   top: 50%;
//   transform: translateY(-50%);
//   background: none;
//   border: none;
// }

.delete-icon {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  border: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: white;
  font-size: 32px;
  color: grey;
}

// .card-date {
//   position: absolute;
//   right: 60px;
//   top: 50%;
//   transform: translateY(-50%);
// }

.expiring-notice {
  background: gray;
  border-radius: 8px;
  padding: 4px;
  color: white;
}

.expired-notice {
  background: $ft-pink;
  border-radius: 8px;
  padding: 4px;
  color: white;
}

.card-picture-box {
  display: flex;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin-top: 8px;
}

.card-image {
  height: 100%;
  width: 100%;

}

.edit-field {
  border-radius: 16px;
  outline: none;
  background-color: var(--bs-body-bg);

}

.edit-field:focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Adjust color and size as needed */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: var(--bs-border-width) solid var(--bs-border-color);
}
