@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
};

.recycle-container {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background-color: transparent;
  overflow: hidden;
}

.pie-chart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(green 0deg 240deg, red 240deg 360deg);
  animation: rotate 3s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.recycle-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  mix-blend-mode: lighten;
  background-color: $ft-pink;
}
