.link-back {
  width: 100%;
  text-align: end;
}

.link-back > a {
  color: $ft-black;
  text-decoration: none;
}

.recipes-container{
  margin: 20px 0px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap : wrap;
  text-align: left;
}
.recipe-container{
  margin: 0px 10px;
}
.recipe-card{
  list-style: none;
  // width: 100px;
  padding:5px 12px;
  background-color: white;
  border: none;
  margin: 8px;
  border-radius: 16px;
  // position: relative;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  flex-basis: 45%;
  flex-grow: 0;
  text-align: left;
}

.recipe-content{
  margin:0px;
  display:flex;
  font-size: 20px;
  align-items: center;
}

.recipe-content .title {
  width: 60%;
}

.recipe-card-img {
  width: 100%;
  object-fit: cover;
  padding: 10px;
}

.recipe-img {
  width: 50%;
  object-fit: cover;
  padding: 10px;
}

.recipe-detail{
  font-size: 20px;
  padding:0;
}

.recipe-ingredient {
  font-size: 20px;
  padding:0;
}

.recipe-ingredient-card{
  list-style: none;
  padding:5px 12px;
  background-color: white;
  border: none;
  margin: 8px;
  border-radius: 8px;
  // position: relative;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.1);
  // flex-basis: 45%;
  flex-grow: 0;
  text-align: left;

}

.recipe-btn-container{
  text-align: center;
}

.recipe-card .info{
  width: 200px;
}

.recipe-card .info .title {
  font-size: 20px;
  color: $ft-black;
}

.recipe-card .info .subtitle {
  font-size: 16px;
  color: gray;
}
.recipe-card .buttons {
  font-size: 20px;
  color: gray;
  height: auto;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.recipe-card > a {
  color: $ft-black;
  text-decoration: none;
}

.recipe-container > a {
  // padding: 5px;
  // background-color: $ft-pink;
  color: $ft-black;
  text-decoration: none;
}
.recipe-footer{
  width:100%;
  text-align: center;
  margin: 40px 0px;
  font-size: 20px;
}

.button-edit-recipe{
  padding:4px;
}
.button-edit-recipe > a{
  text-decoration: none;
}
