.expire-and-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}


.search-bar {
  margin-right: 16px;
  height: 34px;
}

.search-bar input {
  vertical-align: middle;
  border-radius: 16px;
  padding: 4px;
  font-size: 16px;
  text-align: center;
  height: auto;
}
