.notepad-container {
  margin-top: 24px;
  height: 100vh;
  background: url('notepad.jpeg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.shopping-list-card {
  padding: 8px 12px;
  background: #fdfafae7;
  border: none;
  margin: 12px;
  border-radius: 16px;
  position: relative;
  box-shadow: 6px 1px 12px 2px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swipe-left {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.swipe-right {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.shopping-list-card .circle {
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.delete-button {
  border: 0px;
  background-color: white;
  font-size: 32px;
  color: grey;
}

.add-button {
  border: 0px;
  background-color: white;
  font-size: 32px;
  color: green;
  margin-right: 10px;
}

.shopping-list-card .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shopping-list-card .info .title {
  font-size: 24px;
  align-items: center;
}

.shopping-list-card .info .subtitle {
  font-size: 16px;
  color: gray;
}

.shopping-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pink-shopping-list-button {
  margin-top: 8px;
  background-color: #FF6F61;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  top: -15px;
  padding-top: 5px;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


  .material-icons {
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
}

.pink-shopping-list-button:hover {
  background-color: #FF8A80;
}
